* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Itim";
}

html,body {
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-image: url(../pics/teste-01.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.flex-r {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-c {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.parallax {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.yaya_logo {
  background-image: url(../pics/yaya_logobeta.png);
  background-size: 75%;
  z-index: 2;
  background-attachment: fixed;
}

.rules {
  background-color: #004D66;
}

.cloudtop {
  max-width: 100%;
  position: absolute;
  bottom: 0;
}

.cloudbot {
  position: absolute;
  width: 100%;
  z-index: 9;
}

.cloudtop img,.cloudbot img {
  width: 100%;
}

.cloudback {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.cloudback img {
  width: 100%;
}

/*    RULES   */

.rules {
  justify-content: space-around;
  align-content: center;
  color: white;

}

.rules .container {
  justify-content: center;
  margin-left: 25%;
}

object{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
}

embed {
  width: 100%;
  height: 100%;
  background-color: #004D66;

}

.case {
  width: 45%;
  margin-right: 5%;
}

.case div {
  margin-left: 2%;
  width: 100%;
}

.rules h2 {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.case p {
  margin-top: 5%;
  line-height: 25px;
  font-size: 15px;
  width: 95%;
  text-align: justify;
}

/*    RULES    */

.logop {
  background-image: url(../pics/yaya_logobeta.png);
  background-size: 40%;
  background-position-y:20%;
  background-attachment: fixed;
}
